# the following config worked 
# cfncluster configure -c ~/.cfncluster/config_vpc vpchpc
# cfncluster create --norollback -c ~/.cfncluster/config_vpc vpchpc

[global]
cluster_template = default
update_check = true
sanity_check = true

[aws]
aws_access_key_id = AxxxQ
aws_secret_access_key = sxxxj
aws_region_name = us-east-1

[cluster default]
key_name = firstkey
compute_instance_type = t2.micro
master_instance_type = t2.micro
initial_queue_size = 1
max_queue_size = 10               # check max number allowed from EC2 Service Limits
maintain_initial_size = false
scheduler = sge
cluster_type = ondemand
ephemeral_dir = /scratch
shared_dir = /shared
encrypted_ephemeral = false
master_root_volume_size = 15
compute_root_volume_size = 15
base_os = alinux
vpc_settings = elmahpc

[vpc elmahpc]
ssh_from = 0.0.0.0/0             # still needs proper security group to open up
use_public_ips = true            # doesn't seem to work if set to false
vpc_id = vpc-xxx                 # make sure this vpc works, interfaces, gateways, DCHP, security groups are correctly setup
master_subnet_id = subnet-xxx    # such as 10.0.0.128/26, to define a block of IPs
vpc_security_group_id = sg-xxx   # make sure within VPC all are open, SSH should be open to public or VPN
additional_sg = sg-xxx           # just more customer rules

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}
